# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#these work
bin
obj
packages

#---------------
./bin
./bin/Debug
/bin
bin/
/main/**/bin/
./obj/
/Migrations
# dependencies
./node_modules
/.pnp
.pnp.js
./obj

# testing
/coverage

# production
/build

#environment
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
appsettings.Development.json
Migrations/20250326063524_SkipInitMigration.cs
Migrations/20250326063524_SkipInitMigration.Designer.cs
Migrations/ApplicationDBContextModelSnapshot.cs
Migrations/ApplicationDBContextModelSnapshot.cs
Migrations/ApplicationDBContextModelSnapshot.cs
Migrations/20250328211257_Identity.cs
Migrations/20250328211257_Identity.Designer.cs
Migrations/20250328211845_Identity2.cs
Migrations/20250328211845_Identity2.Designer.cs
Migrations/20250329034156_SeedRole.cs
Migrations/20250329034156_SeedRole.Designer.cs
